@mixin btn_primary {
  display: inline-block;
  margin-top: 6%;
  width: 60%;
  height: 45px;
  font-size: 15px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: montserrat;
  font-size: 13px;
  border: 2px solid $secondaryLight;
  background-color: $white-02;
  color: $black-03;
  padding: 6px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

@mixin btn_primary_hover {
  background-color: $black-03;
  color: #fff;
  text-decoration: none;
}

@mixin btn_primary_active {
  background-color: $black-03;
  color: #fff;
  text-decoration: none;
}

// SECONDARY
@mixin btn_secondary {
  display: inline-block;
  margin-top: 6%;
  width: 60%;
  height: 45px;
  font-size: 15px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: montserrat;
  font-size: 13px;
  border: 2px solid $secondaryLight;
  background-color: $white-02;
  color: $black-03;
  padding: 6px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

@mixin btn_secondary_hover {
  background-color: $black-03;
  color: #fff;
  text-decoration: none;
}

@mixin btn_secondary_active {
  background-color: $black-03;
  color: #fff;
  text-decoration: none;
}

// SECONDARY
@mixin btn_normal {
  display: inline-block;
  margin-top: 6%;
  width: 60%;
  height: 45px;
  font-size: 15px;
  border-radius: 0.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  outline: none;
  font-family: montserrat;
  font-size: 13px;
  border: 2px solid $secondaryLight;
  background-color: $black-03;
  background: linear-gradient(to right, $secondaryLight, $secondaryDark);
  color: $white-02;
  padding: 6px 20px;
  transition: all 0.6s ease;
  cursor: pointer;
  width: 100%;
}

@mixin btn_normal_hover {
  background: linear-gradient(to right, $primaryLight, $white-02);
  color: $black-03;
  text-decoration: none;
  border: none;
}

@mixin btn_normal_active {
  background-color: $black-03;
  color: #fff;
  text-decoration: none;
}

//   SPECIAL HOVER EFFECTS

@mixin spl_hover_effect {
  background: rgb(69, 98, 107);
  background-color: $secondary-02;
  box-shadow: 0px 22px 19px -14px $black;
  transform: scale(1.01, 1.01);
}

@mixin spl_hover_effect-02 {
  background: rgb(82, 121, 228);
  background-color: $black;
  box-shadow: 0px 22px 19px -14px $black;
  transform: scale(1.01, 1.01);
}
