@mixin btn-normal {
  display: inline-block;
  height: 47px;
  border-radius: 0.1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  outline: none;
  font-family: montserrat;
  font-size: 12px;
  border: 2px solid $lightgrey;
  background-color: $black;
  color: $white;
  padding: 15px 36px;
  transition: all 0.6s ease;
  cursor: pointer;
}

@mixin btn-normal-hover {
  color: $white-02;
  text-decoration: none;
  border: 2px solid $grey;
}

@mixin btn-normal-active {
  color: $secondary;
  text-decoration: none;
  border: 2px solid $secondary;
}

@mixin btn-normal-active {
  background-color: $black;
  text-decoration: none;
}

@mixin btn-spl {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  outline: none;
  font-family: montserrat;
  font-size: 12px;
  color: $white;
  transition: all 0.6s ease;
  cursor: pointer;
  background: none;
}

//   SPECIAL HOVER EFFECTS

@mixin spl_hover_effect {
  background: rgb(69, 98, 107);
  background-color: $secondary-02;
  box-shadow: 0px 22px 19px -14px $black;
  transform: scale(1.01, 1.01);
}

@mixin spl_hover_effect-02 {
  background: rgb(82, 121, 228);
  background-color: $black;
  box-shadow: 0px 22px 19px -14px $black;
  transform: scale(1.01, 1.01);
}
