$primary: #eddcd2;
$primaryLight: #fff1e6;
$primaryDark: #cb997e;

$secondary: #5c677d;
$secondaryLight: #7d8597;
$secondaryDark: #33415c;

$white: #fff;
$white-02: #fffcf2;
$white-03: #fefee3;

$black: #0b090a;
$black-02: #161a1d;
$black-03: #0c090d;
$black-04: #333533;
$black-05: #2f3e46;

$goldenrod: #daa520;
$gold: #ffd700;
$gold-01: #b08f26;
$darkorange: #ff8c00;
