$primary: #fff1e6;
$primary-02: #ffd687ff;
$primary-03: #d47b1aff;
$primary-04: #fffaf6;
$primary-05: #cb997e;
$primary-06: #511c0cff;
$primary-07: #eddcd2;
$primaryLight: #fff1e6;
$primaryDark: #cb997e;
$primary-01: #511c0cff;
$secondary: #d8f3dc;
$secondary-08: #5c677d;
$secondary-02: #2f1c0cff;
$secondary-03: #710004ff;
$secondary-04: #ccdde2;
$secondary-05: #7d8597;
$secondary-06: #33415c;
$secondaryLight: #7d8597;
$secondaryDark: #33415c;

$white: #fff;
$white-02: #fffcf2;
$white-03: #fefee3;
$offwhite: #f7f7f7;

$black: #020d13ff;
$black-02: #161a1d;
$black-03: #0c090d;
$black-04: #333533;
$black-05: #2f3e46;

$grey: #4a4e69;
$grey-01: #333333;
$medgrey: #666666;
$lightgrey: #cccccc;

$goldenrod: #daa520;
$gold: #ffd700;
$gold-01: #b08f26;
$darkorange: #ff8c00;

$blue: #98b5cc;
$yellow: #ffcc00;
$outline: rgba(#fff, 0.4);
$shadow: rgba($yellow, 0.5);
$shadow-02: 0 8px 6px -6px black;
$shadow-03: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
$h1: rgba(45, 45, 45, 1);
