$primary: #eddcd2;
$primary-02: #ffd687ff;
$primary-03: #d47b1aff;
$primaryLight: #fff1e6;
$primaryDark: #cb997e;
$primary-01: #511c0cff;

$secondary: #5c677d;
$secondary-02: #2f1c0cff;
$secondary-03: #710004ff;
$secondaryLight: #7d8597;
$secondaryDark: #33415c;

$white: #fff;
$white-02: #fffcf2;
$white-03: #fefee3;

$black: #020d13ff;
$black-02: #161a1d;
$black-03: #0c090d;
$black-04: #333533;
$black-05: #2f3e46;

$goldenrod: #daa520;
$gold: #ffd700;
$gold-01: #b08f26;
$darkorange: #ff8c00;

$blue: #98b5cc;
$yellow: #ffcc00;
$outline: rgba(#fff, 0.4);
$shadow: rgba($yellow, 0.5);
$h1: rgba(45, 45, 45, 1);
