/* ==========================================================================
Hand Tied
========================================================================== */
#sec-33 {
  background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)),
    url(../img/loose-02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 10px;
  #container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    h1 {
      @include h1Text;
      line-height: 0.85;

      color: $white-02;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
      @include desktop690 {
        font-size: 60px;
      }
    }

    p {
      padding: 1%;
      margin-top: 1%;
      @include bodyText;
      color: $white-02;
      text-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
      margin-top: 3%;
      @include desktop690 {
        font-size: 1.6em;
      }
    }
    .cards {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      .cards_item {
        display: flex;
        padding: 1rem;
        .card {
          background: linear-gradient(
            to bottom left,
            $white 40%,
            $white-03 100%
          );
          border-radius: 0.25rem;
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 2rem;

          overflow: hidden;
          .img {
            width: 100px;
            height: 100px;
            overflow: hidden;
            background-position: center;
            background-size: cover;
            border-radius: 50%;
          }

          .card_content {
            .card_title {
              @include h3Text;
              color: $black-02;
            }
            .card_text {
              @include bodyText;
              color: $black-02;
            }
          }
        }
      }
    }
  }
  .img-1 {
    background: url("../img/footer-5.png");
  }
  .img-2 {
    background: url("../img/footer-6.png");
  }
  .img-3 {
    background: url("../img/footer-5.png");
  }
  .img-4 {
    background: url("../img/footer-5.png");
  }
  .img-5 {
    background: url("../img/footer-6.png");
  }
  .img-6 {
    background: url("../img/footer-5.png");
  }

  .btn {
    @include btn_normal;
    &:hover {
      @include btn_normal_hover;
    }
  }

  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }

  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
}
