.floating-button-menu {
  z-index: 99999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: $black;
  border-radius: 50%;
  min-width: 40px;
  max-width: 0px;
  min-height: 40px;
  max-height: 0px;
  box-shadow: $shadow-02;
  transition: 0.3s cubic-bezier(0.5, 1, 0.89, 1);

  &:hover {
    background: darken($white, 70%);
    box-shadow: $shadow-01;
  }
  .floating-button-menu-links {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s;
    a {
      position: relative;
      font-family: "Open Sans";
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
      font-weight: 700;
      color: darken($white, 3%);
      line-height: 50px;
      display: block;
      border-bottom: 1px solid $primary;
      width: 100%;
      height: 50px;
      padding: 0 20px;
      transition: background ease-in-out 0.3s;
      background: rgba(0, 0, 0, 0);
      &:hover {
        background: darken($white, 70%);
      }
      &:last-child {
        border-bottom: 0px solid #fff;
      }
    }
    &.menu-on {
      background: $black;
      width: 450px;
      height: 400px;
      border-radius: 10px;
      opacity: 1;
      transition: cubic-bezier(0.17, 0.67, 0.79, 0.08);
    }
  }
  .floating-button-menu-label {
    text-align: center;
    line-height: 34px;
    font-size: 50px;
    color: $white;
    opacity: 1;
    transition: opacity 0.3s;
  }
  &.menu-on {
    background: $black;
    max-width: 340px;
    max-height: 3300px;
    border-radius: 2px;
    .floating-button-menu-links {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: cubic-bezier(0.17, 0.67, 0.79, 0.08);
    }
    .floating-button-menu-label {
      height: 0px;
      overflow: hidden;
    }
  }
}
.floating-button-menu-close {
  position: fixed;
  z-index: 2;
  width: 0%;
  height: 0%;
  &.menu-on {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }
}
