#footer {
  width: 100%;
  height: 100%;
  background: url(../img/hero-2.png) no-repeat 50% 50% fixed;
  //background-size: 130%;
  overflow: hidden;
  @include flexCenter;
  flex-direction: column;
  margin: 2em auto;
  #hero-content {
    .banner {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 18%;
      @include desktop690 {
        width: 20%;
      }
    }
    width: 90%;
    background: rgb(7, 0, 0);
    text-align: center;
    height: 100%;
    padding: 3em 2em;
    z-index: 3;
    @include desktop690 {
      max-width: 60%;
    }
    #hero-title {
      @include h2Text;
      color: $primaryLight;
      text-shadow: #474747 1px 1px 2px;
      line-height: 0.98;
      @include desktop690 {
        font-size: 60px;
      }
    }
    #hero-text {
      @include bodyText;
      color: $white-03;
      text-shadow: #474747 1px 2px 1px;
      margin-bottom: 3%;
      @include desktop690 {
        font-size: 1.3em;
      }
    }
  }

  #footer-links {
    margin: 7em auto;
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: $primary;
    background-color: $black-03;
    @include flexCenter;
    ul {
      display: inline-grid;
      grid-auto-flow: row;
      grid-gap: 24px;
      justify-items: center;
      margin: auto;
      li {
        text-decoration: none;
      }
    }

    @media (min-width: 700px) {
      ul {
        grid-auto-flow: column;
      }
      .tag {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      color: $white-02;
      font-family: "Open Sans";
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
    }

    a:hover {
      color: $primaryDark;
    }

    li:last-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}
