#footer {
  width: 100%;
  height: 100%;
  background: url(../img/hero-2.png) no-repeat 50% 50% fixed;
  background: linear-gradient(
    to right,
    rgba(36, 31, 31, 1) 0%,
    rgba(36, 31, 31, 1) 32%,
    rgba(74, 71, 70, 1) 100%
  );
  //background-size: 130%;
  overflow: hidden;
  @include flexCenter;
  flex-direction: column;
  margin: 0 auto;
  #hero-content {
    .banner {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3em;
      width: 18%;
      height: 100%;
      @include desktop768 {
        width: 20%;
      }
    }
    width: 100%;
    background: rgb(7, 0, 0);
    text-align: center;
    height: 100%;
    padding: 3em 2em;
    z-index: 3;
    @include desktop768 {
      padding: 3em 12em;
    }
    @include desktop992 {
      padding: 3em 15em;
    }
    @include desktop1200 {
      padding: 3em 20em;
    }

    #hero-title {
      @include h2text;
      color: $primaryLight;
      text-shadow: #474747 1px 1px 2px;
      line-height: 0.98;
      @include desktop768 {
        font-size: 30px;
      }
      @include desktop992 {
        font-size: 40px;
      }
      @include desktop1200 {
        font-size: 50px;
      }
    }
    #hero-text {
      @include bodytext;
      color: $white-03;
      text-shadow: #474747 1px 2px 1px;
      margin-bottom: 3%;
      @include desktop768 {
        font-size: 1.1em;
      }
      @include desktop992 {
        font-size: 1.2em;
      }
      @include desktop1200 {
        font-size: 1.3em;
      }
    }
  }

  #footer-links {
    margin: 7em auto;
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: $primary;
    background-color: $black-03;
    @include flexCenter;
    ul {
      display: inline-grid;
      grid-auto-flow: row;
      grid-gap: 24px;
      justify-items: center;
      margin: auto;
      li {
        text-decoration: none;
      }
    }

    @media (min-width: 700px) {
      ul {
        grid-auto-flow: column;
      }
      .tag {
        display: none;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      color: $white-02;
      font-family: "Open Sans";
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
    }

    a:hover {
      color: $primaryDark;
    }

    li:last-child {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  }
}
