$card-width: 100%;
$card-height: 480px;
$img-height: 370px;

$section-padding-regular: 125px 0;
$section-padding-tall: 160px 0;

$desktop576: 576px;
$desktop768: 768px;
$desktop992: 992px;
$desktop1200: 1200px;

@mixin desktop576 {
  @media (min-width: #{$desktop576}) {
    @content;
  }
}

@mixin desktop768 {
  @media (min-width: #{$desktop768}) {
    @content;
  }
}

@mixin desktop992 {
  @media (min-width: #{$desktop992}) {
    @content;
  }
}
@mixin desktop1200 {
  @media (min-width: #{$desktop1200}) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
