/* ==========================================================================
LOOSE FLOWERS
========================================================================== */

#collection-02 {
  background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)),
    url(../img/loose-02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  .overlap-wrapper {
    padding: 1rem;
    @media (min-width: 600px) {
      display: flex;
      max-width: 950px;
      margin: auto;
      transform: translateY(130%);
    }

    .overlap-cards {
      border: 2px solid #eee;
      padding: 1rem;
      background: #fff;
      &:nth-child(2) {
        margin: 1rem 0;
        @media (min-width: 600px) {
          margin: 0 1rem;
        }
      }
    }
  }
}
