/* ==========================================================================
SECTION 01
========================================================================== */

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/hero-2.png) no-repeat 50% 50% fixed;
  background-size: 130%;
  overflow: hidden;
  @include flexCenter;
  #news-content {
    max-width: 70%;
    z-index: 3;
    #news-title {
      @include h1Text;
      color: $primaryLight;
      text-shadow: #474747 3px 5px 2px;
      line-height: 0.98;
      @include desktop690 {
        font-size: 60px;
      }
    }
    #news-text {
      @include bodyText;
      color: $white-03;
      text-shadow: #474747 1px 2px 1px;
      margin-top: 3%;
      @include desktop690 {
        font-size: 1.3em;
      }
    }
  }
}
