#sec-so {
  .intro-slider {
    position: relative;
    .slider {
      position: relative;
      height: 100vh;
      width: 100%;
      .slides {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
    }
    .slides.current {
      z-index: 1;
      opacity: 1;
    }
    .slides:nth-child(1) {
      background: linear-gradient($primary, rgba(0, 0, 0, 0.35)),
        url("../img/roses-pink-fruttito-hero-img.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(2) {
      background: linear-gradient($primary, rgba(0, 0, 0, 0.35)),
        url("../img/roses-red-freedom-hero-img.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(3) {
      background: linear-gradient($primary, rgba(0, 0, 0, 0.35)),
        url("../img/roses-white-kraft-paper-flower-hero-img.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(4) {
      background: linear-gradient($primary, rgba(0, 0, 0, 0.35)),
        url("../img/roses-red-pink-hero-img.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(5) {
      background: linear-gradient($primary, rgba(0, 0, 0, 0.35)),
        url("../img/hero-020.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides h1 {
      @include h1text;
      font-size: 250%;
      z-index: 7;
      padding-top: 3em;
      line-height: 0.98;
      margin-left: -500%;
      transition: 0.3s linear;
      @include desktop576 {
        font-size: 150%;
      }
      @include desktop768 {
        font-size: 250%;
      }
      @include desktop992 {
        font-size: 350%;
      }
    }
    .slides.current h1 {
      animation: animateHeading 0.3s linear forwards 1;
      animation-delay: 0.4s;
    }
    .slides p {
      margin-right: -500%;
      z-index: 7;
      padding-top: 1em;
      transition: 0.3s linear;
      @include h3text;
      font-size: 80%;
      color: $white-02;
      @include desktop768 {
        font-size: 100%;
      }
    }
    .slides.current p {
      animation: animateparagraph 0.3s linear forwards 1;
      animation-delay: 0.7s;
    }
    .slides:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/dot.png);
      background-attachment: fixed;
      opacity: 0.5;
      mix-blend-mode: hard-light;
    }
    /*
    .prev {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      z-index: 99;
      font-size: 1.5em;
      font-weight: 600;
      border: 2px solid #fff;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
    }
    .next {
      position: absolute;
      color: #fff;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      z-index: 99;
      font-size: 1.5em;
      font-weight: 600;
      border: 2px solid #fff;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    }
    */
    .arrow {
      border: solid $white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      position: absolute;
      color: #fff;
      top: 50%;
      z-index: 99;
      transition: 0.2s ease-in-out;
      cursor: pointer;
    }
    .arrow:before {
      content: "";
      border-radius: 50%;
      padding: 10px 10px;
      opacity: 0.5;
      mix-blend-mode: hard-light;
    }
    .right {
      transform: rotate(-45deg);
      right: 5%;
    }

    .left {
      transform: rotate(135deg);
      left: 5%;
    }

    a {
      position: absolute;
      color: $black-02;
      bottom: 32%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      @include h3text;
      font-size: 80%;
      font-weight: 900;
      color: $white-02;
      @include desktop768 {
        font-size: 100%;
        bottom: 22%;
      }
    }
  }

  @keyframes animateHeading {
    to {
      margin-left: 0;
    }
  }

  @keyframes animateparagraph {
    to {
      margin-right: 0;
    }
  }
}
