#sec-so {
  .intro-slider {
    position: relative;
    .slider {
      position: relative;
      height: 100vh;
      width: 100%;
      .slides {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
      }
    }
    .slides.current {
      z-index: 1;
      opacity: 1;
    }
    .slides:nth-child(1) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("../img/hero-027.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(2) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("../img/hero-030.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(3) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("../img/hero-036.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(4) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("../img/hero-028.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(5) {
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
        url("../img/hero-020.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides h1 {
      @include h1text;
      font-size: 2em;
      color: $white;
      line-height: 0.98;
      margin-left: -500%;
      transition: 0.3s linear;
      @include desktop576 {
        font-size: 3em;
      }
    }
    .slides.current h1 {
      animation: animateHeading 0.3s linear forwards 1;
      animation-delay: 0.2s;
    }
    .slides p {
      text-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.5);
      margin-right: -500%;
      transition: 0.3s linear;
      @include bodytext;
      color: $white-02;
      @include desktop576 {
        font-size: 1.3em;
      }
    }
    .slides.current p {
      animation: animateparagraph 0.3s linear forwards 1;
      animation-delay: 0.2s;
    }
    .prev {
      position: absolute;
      color: #fff;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      z-index: 99;
      font-size: 1.5em;
      font-weight: 600;
      border: 2px solid #fff;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.9);
    }
    .next {
      position: absolute;
      color: #fff;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      z-index: 99;
      font-size: 1.5em;
      font-weight: 600;
      border: 2px solid #fff;
      padding: 10px 17px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    }
    .prev:hover,
    .next:hover {
      background: $primary;
      border-color: $primary;
    }
    a {
      position: absolute;
      color: $white;
      bottom: 15%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
      font-size: 1em;
      font-weight: 500;
      line-height: 1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 2px;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      text-decoration: none;
    }
    a:hover {
      color: $white-03;
    }
  }

  @keyframes animateHeading {
    to {
      margin-left: 0;
    }
  }

  @keyframes animateparagraph {
    to {
      margin-right: 0;
    }
  }
}
