/* ==========================================================================
SECTION 01
========================================================================== */
#news-wrapper {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-image: url(../img/hero-01.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  #hero-container {
    text-align: center;
    position: relative;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 6.25%;
    .herotext {
      text-shadow: 0 0.2px 0.3px rgba(0, 0, 0, 0.3);
      p {
        text-align: center;
        @include h1Text;
        color: $primaryLight;
        text-shadow: #474747 3px 5px 2px;
        line-height: 0.98;
        @include desktop690 {
          font-size: 60px;
        }
      }
      h2 {
        @include bodyText;
        color: $white-03;
        text-shadow: #474747 1px 2px 1px;
        margin-top: 3%;
        @include desktop690 {
          font-size: 1.3em;
        }
      }
    }

    #first {
      animation: fade-first 14s linear infinite;
    }
    #second {
      animation: fade-second 14s linear infinite;
    }
    #third {
      animation: fade-third 14s linear infinite;
    }
  }

  /*

 */
}
#news-wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/hero-01.jpg);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}
#news-wrapper:before {
  animation: ekit-glitch 3s linear infinite;
  animation-direction: reverse;
}
@keyframes ekit-glitch {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 0 -10px;
  }
  20% {
    background-position: -5px 0;
  }
  30% {
    background-position: 5px 0;
  }
  40% {
    background-position: 0 -5px;
  }
  50% {
    background-position: 0 0;
  }
  60% {
    background-position: 0 -10px;
  }
  70% {
    background-position: 0 -5px;
  }
  80% {
    background-position: 0 -8px;
  }
  81% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

.hero {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../img/hero-01.jpg) no-repeat 50% 50% fixed;
  background-size: 130%;
  overflow: hidden;
  @include flexCenter;
  #news-content {
    max-width: 70%;
    z-index: 3;
    #news-title {
      @include h1Text;
      color: $primaryLight;
      text-shadow: #474747 3px 5px 2px;
      line-height: 0.98;
      @include desktop690 {
        font-size: 60px;
      }
    }
    #news-text {
      @include bodyText;
      color: $white-03;
      text-shadow: #474747 1px 2px 1px;
      margin-top: 3%;
      @include desktop690 {
        font-size: 1.3em;
      }
    }
  }
}

@keyframes fade-first {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  3% {
    opacity: 1;
    visibility: visible;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-second {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  33% {
    opacity: 0;
    visibility: hidden;
  }
  36% {
    opacity: 1;
    visibility: visible;
  }
  63% {
    opacity: 1;
    visibility: visible;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-third {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  69% {
    opacity: 1;
    visibility: visible;
  }
  96% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.text--glitch,
.text--hover:hover {
  animation: animateTxt 0.5s linear infinite;
}

@keyframes animateTxt {
  0%,
  100% {
    text-shadow: -1.5px -1.5px 0 #0ff, 2px 2px 0 #f00;
  }
  25% {
    text-shadow: 2px 2px 0 #0ff, -1.5px -1.5px 0 #f00;
  }
  50% {
    text-shadow: 1.5px -2px 0 #0ff, -2px 1.5px 0 #f00;
  }
  75% {
    text-shadow: -2px 1.5px 0 #0ff, 1.5px -2px 0 #f00;
  }
}
