/* ==========================================================================
3D cards 
========================================================================== */
.section-02 {
  padding: 3.3em 2em 1em 2em;
}
#collection {
  margin: auto;
  padding: 1%;
  display: flex;
  max-width: 1120px;
  width: 100%;
  max-width: 1120px;
  background-position: 50% 100%;
  .mag__headline {
    width: 100%;
    margin: 0 auto;
  }

  .h1header {
    @include h1Text;
    font-size: 300%;
    @include desktop690 {
      font-size: 700%;
    }
  }
  .h2header {
    text-align: left;
    font-size: 120%;
    margin-right: 0.4em;
    padding-top: 1%;
    color: $black;
    font-family: "Lora";
    letter-spacing: 0.04em;
    @include desktop690 {
      font-size: 175%;
    }
    span {
      color: $primary-03;
    }
    a:hover {
      text-decoration: none;
    }
    a:hover span {
      text-decoration: underline;
    }
  }
  .mag__borderline {
    padding-top: 1.5%;
    width: 100%;
    border-bottom: 3px solid $gold-01;
  }
  .h3header {
    @include h3Text;
    margin-top: 1em;
  }
  .h3header:before {
    content: "- ";
    color: $gold-01;
  }
  .h3header:after {
    content: " -";
    color: $gold-01;
  }
  p {
    font-family: "Raleway", sans-serif;
    font-family: "Open Sans";
    text-align: left;
    color: $secondary;
    // text-shadow: #474747 1px 2px 1px;
    margin-top: 1%;
    @include desktop480 {
      //font-size: 1.1em;
    }
    @include desktop690 {
      // font-size: 1.4em;
    }
    @include desktop767 {
      font-size: 1.2rem;
    }
  }
}

.product-wrapper {
  width: 90%;
  margin: 20px auto;
  max-width: 120rem;
  .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
  .container {
    transform-style: preserve-3d;
    perspective: 1000px;
    .front,
    .back {
      background-size: cover;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      background-position: center;
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 5px;
      border: 4px solid $white;
    }
    .back {
      background: $white-03;
      color: $secondaryDark;
      background: linear-gradient(45deg, #cedce7 0%, $primary 100%);
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .front:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      opacity: 0.1;
      background-color: $white;
      backface-visibility: hidden;
      border-radius: 5px;
    }
    .front .inner p {
      margin-bottom: 2rem;
      position: relative;
      font-family: "Libre Baskerville", serif;
      font-family: "Arima Madurai", cursive;
      color: $white;
      text-shadow: -2px -2px 2px black;
      font-size: 1em;
      font-weight: 900;
      line-height: 1.2;
      margin-bottom: 1rem;
      line-height: 1.25;
    }
    .back .inner p {
      font-family: "Raleway", sans-serif;
      font-size: 0.7em;
      line-height: 1;
      margin-bottom: 2rem;
      position: relative;
      color: $black;
    }

    .front .inner p:after {
      content: "";
      width: 6rem;
      height: 3px;
      position: absolute;
      background: $gold-01;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -0.75rem;
    }

    .front .inner span {
      color: $white;
      font-family: "Montserrat", sans-serif;
      font-size: 8px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }

    .inner {
      transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      box-sizing: border-box;
      outline: 1px solid transparent;
      perspective: inherit;
      z-index: 2;
      #prdt-button {
        @include btn_secondary;
        &:hover {
          @include btn_secondary_hover;
        }
      }
    }
  }
}

.container:hover .front,
.container:hover .back {
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  filter: grayscale(0%);
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.disclaimer {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 70%;
  p {
    @include bodyText;
    color: $black-05;
    // text-shadow: #474747 1px 2px 1px;
    margin-top: 3%;
    @include desktop480 {
      //font-size: 1.1em;
    }
    @include desktop690 {
      // font-size: 1.4em;
    }
    @include desktop767 {
      font-size: 1.2rem;
    }
  }
}
