#sec-30 {
  .sec-30_header {
    background: $white-02;
    display: block;
    padding: 3rem;
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    h1 {
      @include h1Text;
      line-height: 0.98;
    }
    h2 {
      @include h3Text;
      color: $primaryDark;
    }
    h3 {
      font-size: 1em;
      margin: 1em 0;
      text-transform: uppercase;
      color: $secondaryDark;
    }
    p {
      @include bodyText;
      margin-top: 3%;
      @include desktop690 {
        font-size: 1.3em;
      }
    }
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid--4x4 > .grid__item {
    flex: 1 0 auto;
  }
}

@supports (display: grid) {
  .sec-30_header {
    display: none;
  }

  .grid {
    display: grid;
  }
}

.grid--4x4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(50vh, auto) minmax(50vh, auto));
}

.align-center {
  align-items: center;
  justify-content: center;
}

.content {
  padding: 2.5rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .card__label {
    color: $secondaryLight;
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  .card__divider {
    display: block;
    width: 100%;
    height: 5px;

    background: $secondaryLight;

    background-repeat: no-repeat;
    background-position: center center;
  }
  .img-1 {
    background: url("../img/footer-2.png");
  }
  .img-2 {
    background: url("../img/footer-6.png");
  }
  .img-3 {
    background: url("../img/footer-5.png");
  }
  .img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin: 10px;
  }
  #prdt-button {
    @include btn-primary;
    width: 100%;
    &:hover {
      @include btn-primary-hover;
    }
  }
}

.heading {
  font-family: "Libre Baskerville", serif;
  font-family: "Arima Madurai", cursive;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #222222;
  color: $black-03;
  font-size: 30px;
  line-height: 1.25;
}

.description {
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans";
  font-size: 1rem;
  line-height: 1.5;
  &:nth-of-type(1):first-letter {
    float: left;
    color: #222222;
    color: $black-03;
    font-family: "Libre Baskerville", serif;
    font-family: "Arima Madurai", cursive;
    padding: 0 6px 0 4px;
    font-size: 50px;
    line-height: 82px;
  }
}

.theme-peach {
  background: $primaryDark;
  color: #1c1e22;
}

.theme-black {
  background: $black-02;
  color: #fff;
}

.theme-white {
  background: $white-02;
  color: #1c1e22;
}

.theme-grey {
  background: $secondaryDark;
  color: #fff;
}

.mag-style {
  width: 20em;
  margin: 0 auto;
  h1,
  h2,
  h3 {
    text-rendering: optimizeLegibility;
  }
  p {
    font-size: 1em; /* 16px */
    line-height: 1.5625;
  }
  h1 {
    font-size: 4.1875em;
    line-height: 1;
    margin: 67px 0 0 0;
    color: #ff8300;
  }
  h2 {
    font-size: 2.5625em;
    line-height: 1;
    margin: 16px 0;
  }
  h3 {
    font-size: 1em;
    margin: 1em 0;
    text-transform: uppercase;
    color: #009dd9;
  }
}
