.parallax-section {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
  .content {
    background: $black-03;
  }
  .content__heading {
    font-family: "Libre Baskerville", serif;
    font-family: "Arima Madurai", cursive;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #222222;
    color: $secondary;
    font-size: 30px;
    line-height: 1.25;
    z-index: 3;
  }
  .content__label {
    color: $secondaryLight;
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .content__description {
    font-family: "Raleway", sans-serif;
    font-family: "Open Sans";
    color: $secondary;
    font-size: 1rem;
    line-height: 1.5;
    &:nth-of-type(1):first-letter {
      float: left;
      color: #222222;
      font-family: "Arima Madurai", cursive;
      float: left;
      font: 190px Arima Madurai;
      line-height: 1; /* 1 */
      margin-right: -1000px; /* 2 */
      margin-left: -55px; /* 3 */
      margin-top: -70px; /* 3 */
      color: $primary;
    }
  }

  &.parallax1 {
    background: url("../img/footer-05.jpg") center fixed;
    background-size: cover;
  }
  &.parallax2 {
    background: url("../img/footer-01.jpg") center fixed;
    background-size: cover;
  }
  &.parallax3 {
    background: url("../img/footer-02.jpg") center fixed;
    background-size: cover;
  }
}

.text-block {
  display: flex;
  text-align: center;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px 60px;
  .content__heading {
    font-family: "Libre Baskerville", serif;
    font-family: "Arima Madurai", cursive;
    font-size: 2rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #222222;
    color: $black-03;
    font-size: 30px;
    line-height: 1.25;
    z-index: 3;
  }
  .content__label {
    color: $secondaryLight;
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .content__description {
    font-family: "Raleway", sans-serif;
    font-family: "Open Sans";
    color: $secondary;
    font-size: 1rem;
    line-height: 1.5;
    &:nth-of-type(1):first-letter {
      float: left;
      color: #222222;
      font-family: "Arima Madurai", cursive;
      float: left;
      font: 190px Arima Madurai;
      line-height: 1; /* 1 */
      margin-right: -1000px; /* 2 */
      margin-left: -55px; /* 3 */
      margin-top: -70px; /* 3 */
      color: $primary;
    }
  }
}

.banner,
.banner-2,
.banner-3,
.banner-4 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner {
  background-image: url(https://images.pexels.com/photos/373965/pexels-photo-373965.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  min-height: 100%;
}

.banner-2 {
  background-image: url(https://images.pexels.com/photos/220444/pexels-photo-220444.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  min-height: 400px;
}

.banner-3 {
  background-image: url(https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  min-height: 400px;
}

.banner-4 {
  background-image: url(https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  min-height: 400px;
}

.border {
  position: absolute;
  top: 45%;
  width: 95%;
  color: #000;
  font-size: 27px;
  text-align: center;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding: 20px;
}

.banner-text {
  padding: 25px 55px;
  background-color: black;
  color: #fff;
  letter-spacing: 20px;
}
