$card-width: 100%;
$card-height: 500px;

#sec-w {
  width: 100%;
  top: 0;
  left: 0;
  background: $white;
  position: relative;
  #prdt-carousel {
    .owl-carousel {
      padding: 0.7em;
      .card {
        background-color: $white;
        height: $card-height;
        width: $card-width;
        border-radius: 12px 12px 2px 12px;
        max-width: 20em;
        margin: 2em 0;
        box-shadow: $shadow-01;
        text-align: center;
        position: relative;

        &:hover {
          box-shadow: $shadow-02;
        }

        .img {
          height: $img-height;
          background-repeat: no-repeat;
          background-position: center center;
          &.a {
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56613797-3ba9-471e-be14-141949d3ec5e/de5mxap-1937e2ca-ba4e-47f1-9f1a-673193fcf349.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTY2MTM3OTctM2JhOS00NzFlLWJlMTQtMTQxOTQ5ZDNlYzVlXC9kZTVteGFwLTE5MzdlMmNhLWJhNGUtNDdmMS05ZjFhLTY3MzE5M2ZjZjM0OS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.TJtGCjxzuFvGIS6WbY9MFDPaAcZkVqbI-_wnnXAjUFA);
            background-size: cover;
          }
          &.b {
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56613797-3ba9-471e-be14-141949d3ec5e/de5mxc7-9ab46ae7-2d17-4057-abda-11286e1fb307.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTY2MTM3OTctM2JhOS00NzFlLWJlMTQtMTQxOTQ5ZDNlYzVlXC9kZTVteGM3LTlhYjQ2YWU3LTJkMTctNDA1Ny1hYmRhLTExMjg2ZTFmYjMwNy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.F-eBNDZpMKE633UUA8CQs_PvVEEn9IExU5HCw_4HTWs);
            background-size: cover;
          }
          &.c {
            background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/56613797-3ba9-471e-be14-141949d3ec5e/de5mxdx-4ff65579-1ac7-4247-9bf8-489e76a65146.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTY2MTM3OTctM2JhOS00NzFlLWJlMTQtMTQxOTQ5ZDNlYzVlXC9kZTVteGR4LTRmZjY1NTc5LTFhYzctNDI0Ny05YmY4LTQ4OWU3NmE2NTE0Ni5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.r8VM3f87snHaI-B4MHBEhd-F1CCVr69SVOkzao5bG-8);
            background-size: cover;
          }
          &.d {
            background-image: url(https://cdn-img.bleems.com/216539150720182353358386_item.jpg);
            background-size: cover;
          }
          &.e {
            background-image: url(../img/rose-frutteto-kraft-paper-bouquet-01.jpg);
            background-size: cover;
          }
          &.f {
            background-image: url(../img/white-rose-pink-roshlyn-bouquet-01.jpg);
            background-size: cover;
          }
          &.g {
            background-image: url(../img/Tanacetum-parthenium-1.jpg);
            background-size: cover;
          }
          &.h {
            background-image: url(../img/red-101-rose-bouquet-01.jpg);
            background-size: cover;
          }
          &.i {
            background-image: url(../img/frutteto-rose-25-bouquet-001.jpg);
            background-size: cover;
          }
          &.j {
            background-image: url(../img/roses-mix-vase-flower-arrangement-001.png);
            background-size: cover;
          }
          &.k {
            background-image: url(../img/fruttito-rose-50-bouquet-001.png);
            background-size: cover;
          }
          &.l {
            background-image: url(../img/tulips_white_yellow_roses_tansy_daisy_bouquet-001.png);
            background-size: cover;
          }
          &.m {
            background-image: url(../img/pink_100_roses_kraft_paper_wrapping_bouquet-01.png);
            background-size: cover;
          }
          &.n {
            background-image: url(../img/yellow_roses_white_flower_arrangement-01.png);
            background-size: cover;
          }
          &.o {
            background-image: url(../img/pink_baby_roses__twig_arrangment-001.png);
            background-size: cover;
          }
          &.p {
            background-image: url(../img/red-roses_100-stems_wax-white_hypericum-bouquet-002.png);
            background-size: cover;
          }
          &.q {
            background-image: url(../img/white_roses_hypericum_100_roses_bouquet-002.png);
            background-size: cover;
          }
          &.r {
            background-image: url(../img/roses_hypericum_white_bouquet_003.png);
            background-size: cover;
          }
        }

        .info {
          top: 0;
          left: 0;
          text-align: center;
          margin: 100px 0 0 0;
          width: 100%;
          .item-no {
            position: absolute;
            bottom: 10px;
            left: 7px;
            padding: 0 1em;
            z-index: 30;
            color: $goldenrod;
            .logo {
              background: url(../svg/flower.svg) no-repeat 0 0.1em;
              background-size: cover;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 40;
              width: 40%;
              height: 90%;
            }
            .count {
              background-color: lighten($secondary, 1%);
              border-radius: 50%;
              padding: 7px 10px;
            }
          }

          h3 {
            @include h3text;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 10px;
            left: 15px;
            font-size: 380%;
          }

          small {
            @include smalltext;
            position: absolute;
            padding: 0;
            margin: 0;
            top: 60px;
            left: 17px;
          }

          p {
            @include bodytext;
            font-weight: bold;
            position: absolute;
            bottom: 42px;
            left: 17px;
            padding: 0 1em;
            z-index: 20;
          }

          .btn {
            position: absolute;
            @include linktext;
            position: absolute;
            padding: 2em 1em 0 3em;
            margin: 0;
            bottom: 20px;
            right: 17px;
            z-index: 33;
            &:hover {
              @include linktext-hover;
            }
          }
        }

        .gradient-overlay {
          position: absolute;
          top: 0;
          left: 0;
          background: rgba(121, 209, 202, 0.329);
          background: linear-gradient(
            to bottom,
            rgba(254, 252, 234, 0.03) 40%,
            rgba(252, 250, 235, 0.03) 9%,
            rgba(239, 239, 239, 1) 100%
          );
          width: $card-width;
          height: $card-width;
          z-index: 9;
        }

        .cardlayer-overlay {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: lighten($secondary, 5%);
          opacity: 0;
          visibility: hidden;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          z-index: 20;
          transition: $transition-01;
          &__content {
            padding: 2em;

            h3 {
              @include h3text;
              position: absolute;
              padding: 0;
              margin: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              top: 30px;
            }

            hr {
              width: 70px;
              height: 3px;
              margin: 3px auto;
              border: 0;
              background: $primary;
              position: absolute;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              top: 150px;
            }

            p {
              @include bodytext;
              position: absolute;
              padding: 0 1em;
              margin: 0;
              left: 0;
              right: 0;
              margin-left: auto;
              margin-right: auto;
              top: 90px;
            }
          }
        }
      }

      .card-overlay {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;

        &:hover {
          .cardlayer-overlay {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
            transition: $transition-01;
          }
        }
      }
    }
  }
}

.link-btn {
  position: absolute;
  letter-spacing: 0.1em;
  font-family: montserrat;
  font-size: 13px;
  color: $goldenrod;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  bottom: 4px;
  right: 5px;
  z-index: 40;
  &:hover {
    color: $black-03;
  }
}
.gradientOverlay {
  position: absolute;
  top: 0;
  right: 0;
  background: rgb(251, 251, 251);
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffd687+4,fffaf4+100&0+26,1+100 */
  background: -moz-linear-gradient(
    top,
    rgba(255, 214, 135, 0) 4%,
    rgba(255, 222, 160, 0) 26%,
    rgba(255, 250, 244, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 214, 135, 0) 4%,
    rgba(255, 222, 160, 0) 26%,
    rgba(255, 250, 244, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 214, 135, 0) 4%,
    rgba(255, 222, 160, 0) 26%,
    rgba(255, 250, 244, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffd687', endColorstr='#fffaf4',GradientType=0 ); /* IE6-9 */

  width: $card-width;
  height: $card-height;
  position: absolute;
}

.item-layer-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $primary-04;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  z-index: 10;
  transition: background 0.3s cubic-bezier(0.33, 0.66, 0.66, 1);

  .card-info {
    padding: 2em;
    h3 {
      @include bodytext;
      color: $black-03;
    }
    hr {
      width: 70px;
      height: 3px;
      margin: 10px auto;
      border: 0;
      background: $goldenrod;
    }
    ul li {
      @include bodytext;
      color: $black-02;
      font-size: 12px;
      span {
        @include h3text;
        color: $goldenrod;
        text-transform: none;
        font-size: 12px;
      }
    }
    p {
      @include bodytext;
      color: $black;
      font-size: 12px;
    }
  }
  .item-overlay-info {
    width: 70%;
  }
}

.mdh-item-overlay {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;

  &:hover {
    .item-layer-overlay {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      transition: all 0.3s ease;
    }
  }
  &:hover {
    .info {
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
}

#sec-w:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  background: url(../img/dot.png);
  background-attachment: fixed;
  opacity: 0.07;
  z-index: 1;
}
