/* ==========================================================================
LOOSE FLOWERS
========================================================================== */

#collection-02 {
  background: linear-gradient(rgba(black, 0.3), rgba(black, 0.3)),
    url(../img/loose-02.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;

  .overlap-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8rem 0.1rem;
    text-align: center;
    .overlap-cards {
      border: 2px solid #eee;
      text-align: center;
      background: $white;
      padding: 2rem;
      margin: 0 0 2rem 0;
      box-shadow: 0 3px 2px rgba(0, 0, 0, 0.8);
      z-index: 1;
      h3 {
        margin: 0 0 10px;
        text-transform: uppercase;
        color: #666;
        position: relative;
      }
      p {
        font-style: italic;
        position: relative;
      }

      .img-1 {
        background: url("../img/footer-2.png");
      }
      .img-2 {
        background: url("../img/footer-6.png");
      }
      .img-3 {
        background: url("../img/footer-5.png");
      }
      .img {
        width: 120px;
        height: 120px;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        border-radius: 50%;
        position: relative;
        display: inline-block;
      }
      #prdt-button {
        @include btn-primary;
        &:hover {
          @include btn-primary-hover;
        }
      }
    }
  }
}

@media (min-width: 40rem) {
  .overlap-cards {
    width: calc(50% - 2rem);
    background: $white-03;
  }
}

@media (min-width: 56rem) {
  .overlap-cards {
    width: calc(33.333333% - 2rem);
    background: $white-02;
  }
}
