.sec-06 {
  position: relative;
  background-image: url("../img/hero-09.jpg"), linear-gradient(#fff1e6, #fefee3);
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  align-items: center;

  padding: 5rem 2rem 6rem 2rem;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .loose-flowers-wrapper {
    width: 100%;
    img {
      width: 100%;
      border-radius: 2px;
    }
    .spl-text {
      width: 100%;
      margin-top: -20%;
      position: relative;
      padding: 2rem;
      h1 {
        text-align: center;
        color: $white-02;
        font-size: 8vw;
        font-family: "Arima Madurai", cursive;
        -webkit-text-stroke: 0.7px rgba(0, 0, 0, 0.4);
        text-stroke: 0.7px rgba(0, 0, 0, 0.4);
        background: -webkit-linear-gradient($white, $white-02);
        opacity: 0.7;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h2 {
        text-align: center;
        text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
        @include h4Text;
        letter-spacing: 0.1em;
        color: $white-02;
        font-family: "Raleway", sans-serif;
      }
    }
  }
}
.sec-06 span:before {
  content: "p";
  animation: animate infinite 8s;
  font-family: "Raleway", sans-serif;
  font-family: "Open Sans";
}
@keyframes animate {
  0% {
    content: "don’t tell, they show";
  }
  25% {
    content: "always make people better, happier and more helpful; they are sunshine, food and medicine to the soul.";
  }
  50% {
    content: "whisper ‘Beauty!’ to the world, even as they fade, wilt, fall";
  }
  75% {
    content: "are the music of the ground. From earth’s lips spoken without sound.";
  }
  100% {
    content: "are like friends; they bring color to your world";
  }
}
