#sec-a {
  position: relative;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: -10;
    background-color: $black;
  }
  .container {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    animation: expand 0.8s ease forwards;
    background-color: $black-02;
    position: relative;
    transition: $transition-01;
    padding: 20px 0;
    &__content {
      width: 50%;
      .inner-wrapper {
        width: 80%;
        margin-left: 55px;
        h3 {
          margin: 1em 0;
          @include h3text;
          font-size: 100%;
          color: $white-02;

          @include desktop576 {
            font-size: 15px;
          }
          @include desktop768 {
            font-size: 16px;
          }
          @include desktop992 {
            font-size: 17px;
          }
        }
        .title {
          overflow: hidden;
          height: auto;
          h1 {
            @include h1text;
            color: $white-02;
            font-size: 250%;
            margin-bottom: 20px;
            transform: translateY(100px);
            animation: slideUp 0.8s ease forwards 0.5s;
            @include desktop576 {
              font-size: 150%;
            }
            @include desktop768 {
              font-size: 250%;
            }
            @include desktop992 {
              font-size: 350%;
            }
          }
        }

        .text-block {
          height: auto;
          p {
            @include h3text;
            color: $white-02;
            font-size: 100%;
            transform: translateY(300px);
            animation: slideUp 0.8s ease-in-out forwards 0.8s;
            @include desktop576 {
              font-size: 15px;
            }
            @include desktop768 {
              font-size: 16px;
            }
            @include desktop992 {
              font-size: 17px;
              column-count: 2;
              column-gap: 1em;
            }
          }
        }

        .btns {
          height: 100%;
          position: relative;
          overflow: hidden;
          margin: 12% 0;

          .btn-hero {
            position: relative;
            outline: none;
            text-decoration: none;

            @include btn-normal;
            transform: translateY(50px);
            animation: slideUp 0.8s ease-in-out forwards 1s;
            &:hover {
              @include btn-normal-hover;
            }
            &:active {
              @include btn-normal-active;
            }
            &:visited {
              @include btn-normal-active;
            }
          }
        }
      }
    }
    .img-wrapper {
      margin: 10px;
      width: 50%;
      overflow: hidden;
      .container_img {
        width: 100%;
        animation: slideIn 1.5s ease-in-out forwards;
      }
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(500px) scale(0.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  @keyframes expand {
    0% {
      transform: translateX(1400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/dot.png);
  background-attachment: fixed;
  opacity: 0.5;
  mix-blend-mode: hard-light;
}
