.bg {
  position: relative;
  height: 100vh;
  background: url("../img/roses-white-vase-flower-hero-img.jpg");
  background-size: 300% 200vh;
  background-position: 0 20%;
  background-repeat: repeat-x;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
  text-shadow: 1px 1px;

  animation: shift 45s linear infinite;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18em;
  border-right: 2px solid $primary;
  font-size: 200%;
  white-space: nowrap;
  @include bodytext;
  color: $secondary;
  overflow: hidden;
  animation: typewriter 6.5s steps(50) 2s 1 normal both,
    blinkTextCursor 0.5s steps(40) 18 normal forwards;
}

@keyframes shift {
  from {
    background-position: 0 20%;
  }

  to {
    background-position: 100% 20%;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 28em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: $primary;
  }
  to {
    border-right-color: transparent;
  }
}
