/* ==========================================================================
Parallax cards 
========================================================================== */
.section-02 {
  background: #fff;
  background: $white-02;
  padding: 20px 0;
}
#collection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 70%;
  h1 {
    @include h1Text;
    color: $black;
    text-shadow: 1px 2px 3px #ddeeff, 0 0 0 black, -1px 1px 0 #ddeeff,
      1px 1px 0 white;
    line-height: 0.98;
    //animation: flicker 3s linear infinite;

    @include desktop690 {
      font-size: 60px;
    }
  }
  h2 {
    @include h2Text;
    color: $gold-01;
    margin-top: 10px;
    @include desktop690 {
      font-size: 1.526rem;
    }
  }
  h2:first-letter {
    font-weight: bold;
  }
  h3 {
    @include h3Text;
    margin: 1em 0;
    color: $secondary;
  }
  p {
    @include bodyText;
    color: $black-05;
    // text-shadow: #474747 1px 2px 1px;
    margin-top: 3%;
    @include desktop480 {
      //font-size: 1.1em;
    }
    @include desktop690 {
      // font-size: 1.4em;
    }
    @include desktop767 {
      font-size: 1.2rem;
    }
  }
}
.flower-icon {
  margin-top: 1rem;
  svg {
    height: 100%;
    width: 100%;
    #pink {
      animation: fadeIn 2s infinite;
      transform-origin: 50% 50%;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }
    #green {
      animation: fadeIn 5s infinite;
      transform-origin: 50% 50%;
      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }

    path {
      stroke-dasharray: 100;
      animation: draw 7s infinite;
      animation-duration: 8s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;
    }
    @keyframes draw {
      from {
        stroke-dashoffset: 0;
      }
      to {
        stroke-dashoffset: 200;
      }
    }
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }

      75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
  }
}

.product-wrapper {
  width: 90%;
  margin: 20px auto;
  max-width: 120rem;
  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.col {
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
  .container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    .front,
    .back {
      background-size: cover;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      background-position: center;
      -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
        -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-align: center;
      min-height: 280px;
      height: auto;
      border-radius: 10px;
      border: 4px solid $white;
    }

    .back {
      background: $white-03;
      color: $secondaryDark;
      background: -webkit-linear-gradient(45deg, #cedce7 0%, $primary 100%);
      background: -o-linear-gradient(45deg, #cedce7 0%, $primary 100%);
      background: linear-gradient(45deg, #cedce7 0%, $primary 100%);
    }
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .front:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: "";
      display: block;
      opacity: 0.1;
      background-color: $white;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 10px;
    }
    .front .inner p {
      font-size: 2em;
      margin-bottom: 2rem;
      position: relative;
      @include h3Text;
      color: $primaryLight;
    }
    .back .inner p {
      @include bodyText;
      font-size: 0.78em;
      margin-bottom: 2rem;
      position: relative;
      color: $black;
    }

    .front .inner p:after {
      content: "";
      width: 6rem;
      height: 2px;
      position: absolute;
      background: #4a3637;
      display: block;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -0.75rem;
    }

    .front .inner span {
      @include bodyText;
      color: $white;
      font-weight: 700;
    }

    .inner {
      -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
      transform: translateY(-50%) translateZ(60px) scale(0.94);
      top: 50%;
      position: absolute;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: 1px solid transparent;
      -webkit-perspective: inherit;
      perspective: inherit;
      z-index: 2;
      #prdt-button {
        @include btn_secondary;
        &:hover {
          @include btn_secondary_hover;
        }
      }
    }
  }
}

.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  filter: grayscale(60%);
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

.disclaimer {
  text-align: center;
  margin: auto;
  margin-top: 2%;
  padding: 1%;
  display: flex;
  width: 70%;
  p {
    @include bodyText;
    color: $black-05;
    // text-shadow: #474747 1px 2px 1px;
    margin-top: 3%;
    @include desktop480 {
      //font-size: 1.1em;
    }
    @include desktop690 {
      // font-size: 1.4em;
    }
    @include desktop767 {
      font-size: 1.2rem;
    }
  }
}
