/**** HAND TIED ****/

#collection-03 {
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    @include h1Text;
    line-height: 0.85;
    @include desktop690 {
      font-size: 60px;
    }
  }

  p {
    padding: 1%;
    margin-top: 1%;
    @include bodyText;
    margin-top: 3%;
    @include desktop690 {
      font-size: 1.6em;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    .cards_item {
      display: flex;
      padding: 1rem;
      .card {
        background-color: $white-03;
        border-radius: 0.25rem;
        box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .card_content {
          padding: 1rem;
          background: linear-gradient(
            to bottom left,
            $secondaryDark 40%,
            $primaryDark 100%
          );
          .card_title {
            color: $white-02;
            font-size: 1.1rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0px;
          }
        }
      }
    }
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  padding: 0.8rem;
  border-radius: 3px;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-family: montserrat;
  font-size: 13px;
  border: 2px solid $secondaryLight;
  background-color: $white-02;
  color: $black-03;
  padding: 6px 20px;
  font-weight: 400;
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $black-03;
    color: #fff;
    text-decoration: none;
  }
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}
