#sec-n {
  padding: 0.3em 2.2em 1em 2.2em;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 99;

  .logo-circle {
    margin: 2em auto;
    display: block;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background: $primary;
    position: relative;
    cursor: pointer;

    transition: all 0.8s ease-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &::after {
      content: "";
      display: block;
      background: $primary url(../svg/flower.svg) no-repeat;
      width: 99px;
      height: 99px;
      border-radius: 50%;
      position: absolute;
      top: 5px;
      left: 8px;
      background-position: center 8px;
    }
    &::before {
      content: "";
      border-radius: 50%;
      display: block;
      width: 107px;
      height: 107px;
      position: absolute;
      top: 4px;
      left: 4px;
      background: $secondary;
      background: url(../svg/flower.svg);
      background: -moz-linear-gradient(
        left,
        $gold 0%,
        $primary-02 33%,
        $gold-01 52%,
        $darkorange 71%,
        $goldenrod 100%
      );
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, $goldenrod),
        color-stop(33%, $gold),
        color-stop(52%, $gold-01),
        color-stop(71%, $yellow),
        color-stop(100%, $darkorange)
      );
      background: -webkit-linear-gradient(
        left,
        $yellow 0%,
        $gold-01 33%,
        $darkorange 52%,
        $goldenrod 71%,
        $primary-02 100%
      );
      background: -o-linear-gradient(
        left,
        $primary-02 0%,
        $goldenrod 33%,
        $gold-01 52%,
        $yellow 71%,
        $darkorange 100%
      );
      background: -ms-linear-gradient(
        left,
        $darkorange 0%,
        $yellow 33%,
        $gold-01 52%,
        $primary-02 71%,
        $darkorange 100%
      );
      background: linear-gradient(
        to right,
        $gold-01 0%,
        $darkorange 33%,
        $gold-01 52%,
        $yellow 71%,
        $yellow 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e0653', endColorstr='#ff0608',GradientType=1 );
      -webkit-animation: spin 10s linear 0s infinite both;
      -moz-animation: spin 10s linear 0s infinite both;
      animation: spin 10s linear 0s infinite both;
    }
    &:hover {
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
    }
    &:hover:before {
      -webkit-animation: spinHover 0.8s ease-out 0s 1 both;
      -moz-animation: spinHover 0.8s ease-out 0s 1 both;
      animation: spinHover 0.8s ease-out 0s 1 both;
    }
  }
  #chapter {
    margin: auto;
    padding: 1%;
    width: 100%;
    max-width: 1120px;
    background-position: 50% 100%;
    .mag__headline {
      width: 90%;
      margin: 0 auto;
    }

    .h1header {
      @include h1text;
      text-align: center;
      color: $black-03;
      font-size: 250%;
      @include desktop576 {
        font-size: 350%;
      }
      @include desktop768 {
        font-size: 450%;
      }
      @include desktop992 {
        font-size: 550%;
      }
    }
    .h2header {
      text-align: center;
      font-size: 100%;
      padding-top: 1%;
      @include h2text;
      color: $black-03;
      @include desktop576 {
        font-size: 150%;
      }
      @include desktop768 {
        font-size: 250%;
      }

      .bleems {
        color: $primary-03;
      }
      .bleems:hover {
        text-decoration: none;
        color: $primary-02;
      }
    }
    .mag__borderline {
      padding-top: 1.5%;
      width: 100%;
      border-bottom: 3px solid $gold-01;
    }
    .h3header {
      @include h3text;
      font-size: 60%;
      margin-top: 1em;
      text-transform: uppercase;
      @include desktop768 {
        font-size: 100%;
      }
    }
    .h3header:before {
      content: "- ";
      color: $gold-01;
    }
    .h3header:after {
      content: " -";
      color: $gold-01;
    }
    p {
      @include bodytext;
      line-height: 15px;
      font-size: 12px;
      color: $secondary;
      margin-top: 1%;
      @include desktop576 {
        font-size: 14px;
      }
      @include desktop768 {
        font-size: 16px;
      }
      @include desktop992 {
        font-size: 17px;
      }
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spinHover {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spinHover {
    100% {
      transform: rotate(360deg);
    }
  }
}

.divider {
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
  background-color: $black-03;
  width: 150px;
  height: 5px;
}
