#sec-so {
  .intro-slider {
    position: relative;
    .slider {
      position: relative;
      height: 100vh;
      width: 100%;
      .slides {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s ease-in-out;
      }
    }
    .slides.current {
      z-index: 1;
      opacity: 1;
    }
    .slides:nth-child(1) {
      background: #161a1d;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &:hover {
        background: $black-03;
        transition: background 9s ease-out;
      }
    }
    .slides:nth-child(2) {
      background: linear-gradient(
          rgba(255, 241, 230, 0.12),
          rgba(255, 255, 255, 0)
        ),
        url("https://res.cloudinary.com/dsx500kcj/image/upload/v1604677449/flowerline/IMG_7245_lfp6xn.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(3) {
      background: linear-gradient(
          rgba(255, 241, 230, 0.12),
          rgba(255, 255, 255, 0)
        ),
        url("https://res.cloudinary.com/dsx500kcj/image/upload/v1609314455/flowerline/hero-066_s8d98m.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(4) {
      background: linear-gradient(
          rgba(255, 221, 230, 0.12),
          rgba(255, 255, 255, 0)
        ),
        url("https://res.cloudinary.com/dsx500kcj/image/upload/v1606321275/flowerline/IMG_7494_bywcpp.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides:nth-child(5) {
      background: linear-gradient(
          rgba(255, 241, 230, 0.12),
          rgba(255, 255, 255, 0)
        ),
        url("../img/hero-063.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
    }
    .slides h1 {
      @include h1text;
      color: $white-02;
      font-size: 250%;
      z-index: 7;
      padding-top: 2em;
      line-height: 0.98;
      margin-left: -500%;
      transition-duration: 7s;
      transition-delay: 0.9s;
      transition-timing-function: linear;
      transition: 0.6s cubic-bezier(0.5, 1, 0.89, 1);
      @include desktop576 {
        font-size: 150%;
      }
      @include desktop768 {
        font-size: 250%;
      }
      @include desktop992 {
        font-size: 350%;
      }
    }

    .slides.current h1 {
      animation: animateHeading 0.8s cubic-bezier(0.5, 1, 0.89, 1) forwards 1;
      animation-delay: 0.4s;
    }
    .slides p {
      margin-right: -500%;
      z-index: 7;
      padding-top: 1em;
      transition: 0.3s linear;
      width: 50%;
      text-align: center;
      @include h3text;
      color: $white;
      font-size: 100%;
      @include desktop576 {
        font-size: 15px;
      }
      @include desktop768 {
        font-size: 16px;
      }
      @include desktop992 {
        font-size: 17px;
      }
    }
    .slides.current p {
      animation: animateparagraph 0.3s linear forwards 1;
      animation-delay: 0.7s;
    }
    .slides:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../img/dot.png);
      background-attachment: fixed;
      opacity: 1;
      mix-blend-mode: hard-light;
    }

    .arrow {
      position: absolute;
      width: 40px;
      height: 40px;
      background: transparent;
      // text-indent: -9999px;
      cursor: pointer;
      border: {
        top: 2px solid $border-color;
        left: 2px solid $border-color;
      }
      transition: all 0.3s ease-in-out;
      text-decoration: none;
      color: transparent;
      z-index: 120;
      top: 50%;

      &:hover {
        border: {
          color: $border-active-color;
          width: 8px;
        }
      }

      &:before {
        display: block;
        height: 100%;
        width: 100%;

        content: "";
        transform: rotate(45deg);
      }

      &.prev {
        transform: rotate(-45deg);
        left: 50px;
      }

      &.next {
        transform: rotate(135deg);
        right: 50px;
      }
    }

    a {
      position: absolute;
      color: $black-02;
      bottom: 32%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      text-decoration: none;
      transition: all 650ms;
      text-decoration: none;
      color: #fff;
      color: $white-02;
      font-family: "Open Sans";
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 12px;
      @include desktop768 {
        font-size: 100%;
        bottom: 22%;
      }
      &:hover {
        color: $goldenrod;
      }
    }
  }

  @keyframes animateHeading {
    to {
      margin-left: 0;
    }
  }

  @keyframes animateparagraph {
    to {
      margin-right: 0;
    }
  }
}
