#product-list {
  padding: 3.3em 2em 1em 2em;
  .mag__header {
    max-width: 1120px;
    background-position: 50% 100%;
    margin: 0 auto;
    .mag__headline {
      width: 100%;
      margin: 0 auto;
    }
    .h1header {
      @include h1Text;
      font-size: 300%;
      @include desktop690 {
        font-size: 700%;
      }
    }
    .h2header {
      text-align: left;
      font-size: 100%;
      margin-right: 0.4em;
      padding-top: 1%;
      @include h2Text;
      @include desktop690 {
        font-size: 175%;
      }
    }
    h3 {
      @include h3Text;
    }
    .h3header:before {
      content: "- ";
      color: $gold-01;
    }
    .h3header:after {
      content: " -";
      color: $gold-01;
    }
    p {
      @include bodyText;
      padding-top: 5%;
      margin-right: 5%;
      background: transparent;
      height: auto;
    }
    .mag__borderline {
      padding-top: 1.5%;
      width: 100%;
      border-bottom: 3px solid $gold-01;
    }
  }
  .mag__body {
    max-width: 1120px;
    padding-bottom: 2em;
    background-size: 90%;
    background-position: 50% 100%;
    margin: 0 auto;
    height: auto;
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 3% 1%;
      .grid-item {
        height: 240px;
        width: 440px;
        position: relative;
        margin: 5px;
        overflow: hidden;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
        transform-origin: 0 50%;
        transform: rotateY(0);
        transition: all 0.45s ease;
        border: 4px solid #f0f0f0;
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 110%;
        width: 110%;
        object-fit: cover;
        z-index: -1;
        transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
      }
      h3 {
        color: white;
        font-size: 24px;
        margin: 20px 0 0 20px;
      }
      p {
        color: white;
        font-weight: 400;
        font-size: 16px;
        align-self: end;
        margin: 0 0 20px 20px;
        letter-spacing: 0.5px;
      }
    }
  }
}
#mag:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/dot.png);
  background-attachment: fixed;
  opacity: 0.1;
  mix-blend-mode: hard-light;
}
@media (max-width: 470px) {
  .grid-item {
    height: 300px;
    width: 300px;
  }
}
.grid-item:hover img {
  transform: rotateY(-15deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}
