.video-sec {
  overflow: hidden;
  max-width: 1120px;
  background-position: 50% 100%;
  margin: 0 auto;
  padding: 3.3em 2em 1em 2em;
  .divider {
    margin: 0 auto;
    margin-bottom: 3em;
    text-align: center;
    background-color: $black-03;
    width: 150px;
    height: 5px;
  }
  .mag__headline {
    width: 100%;
    margin: 0 auto;
  }
  .h1header {
    @include h1Text;
    font-size: 300%;
    @include desktop690 {
      font-size: 700%;
    }
  }
  .h2header {
    text-align: left;
    font-size: 100%;
    margin-right: 0.4em;
    padding-top: 1%;
    @include h2Text;
    @include desktop690 {
      font-size: 175%;
    }
  }
  h3 {
    @include h3Text;
  }
  .h3header:before {
    content: "- ";
    color: $gold-01;
  }
  .h3header:after {
    content: " -";
    color: $gold-01;
  }
  .mag__borderline {
    padding-top: 1.5%;
    width: 100%;
    border-bottom: 3px solid $gold-01;
  }

  .panels {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    background: #fff;

    .panel {
      width: 20%;
      background: #fff;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 -1px;

      > video {
        display: block;
        width: 400%;
        height: auto;
        object-fit: cover;
      }

      > .overlay {
        display: flex;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $black-02;
        justify-content: flex-end;
        flex-direction: column;
        padding: 1.5em 2.5em;
        transition: background 0.4s ease-out;
        box-sizing: border-box;
        border: 1em solid $white;
        border-width: 1em 0.5em 1em 0.5em;
        .label {
          color: $secondary;
          font-family: "Montserrat", sans-serif;
          font-size: 8px;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
        .heading {
          font-family: "Libre Baskerville", serif;
          font-family: "Arima Madurai", cursive;
          color: $secondary;
          font-size: 2rem;
          font-weight: 900;
          line-height: 1.2;
          margin-bottom: 1rem;
          font-size: 30px;
          line-height: 1.25;
          z-index: 3;
        }
        .description {
          font-family: "Raleway", sans-serif;
          font-size: 1rem;
          line-height: 1.5;
          color: #fff;
          &:nth-of-type(1):first-letter {
            float: left;
            color: $gold-01;
            font-family: "Arima Madurai", cursive;
            float: left;
            font: 90px Arima Madurai;
            line-height: 1; /* 1 */
            margin-right: -600px; /* 2 */
            margin-left: -25px; /* 3 */
            margin-top: -30px; /* 3 */
          }
        }
      }

      &:first-child > .overlay {
        border-left-width: 1em;
      }
      &:last-child > .overlay {
        border-right-width: 1em;
      }

      &.active {
        .overlay {
          background: rgba(0, 0, 0, 0);
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .panels {
      flex-direction: column;
      .panel {
        width: 100%;
        max-height: 15em;
        margin: -1px 0;
        > video {
          width: 100%;
          min-width: 16em;
        }

        > .overlay {
          border-width: 0.5em 1em 0.5em 1em;
        }

        &:first-child > .overlay {
          border-top-width: 1em;
        }
        &:last-child > .overlay {
          border-bottom-width: 1em;
        }
      }
    }
  }
}
