$transition-01: all 0.8s ease;

$shadow-01: 4px 10px 20px rgba(0, 0, 0, 0.6);
$shadow-02: 4px 10px 20px rgba(0, 0, 0, 0.3);
$shadow-03: rgba(white, 0.2) 0 0 40px 5px, rgba(white, 1) 0 0 0 1px,
  rgba(black, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
