@import "./colors";
@import "./header";
@import "./buttons";
@import "./layout";
@import "./typography";
@import "./sec-01";
@import "./sec-02";
@import "./sec-03";
@import "./sec-04";
@import "./sec-06";
@import "./sec-32";
@import "./sec-31";
@import "./top-header";
@import "./container";

/* GLOBAL */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* CUSTOM */

html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
  background: #fff;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
